body {
    background-color: rgb(47, 47, 194) !important;
}

.container {
    min-height: 100vh;
    background-color: rgb(47, 47, 194) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.bg-success, .bg-danger {
    color: white;
}

.width_100 {
    width: 100%;
}

.text_center {
    text-align: center;
}

.final_text {
    font-size: 40px;
    margin-bottom: 24px;
}